---
import diseno from '../assets/videos/disenointeriores.mp4';
import img1 from '../../public/ImagenesConvertidas/img1.webp';
import img2 from '../../public/ImagenesConvertidas/img2.webp';
import img3 from '../../public/ImagenesConvertidas/img3.webp';
import logo from '../assets/img/logoCumtual.svg';
import '../assets/styles/global.css';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Inicio";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
	<section class="relative w-full h-screen overflow-hidden" id="sliderH" >
	  <!-- Menú superior -->
	  
	  <!-- <div class="fixed top-0 left-0 w-full text-white z-50 ">
        <div class="max-w-7xl mx-auto px-4 py-3 border-b border-gray-400">
          <div class="flex items-center justify-between"> -->
            <!-- Logo o título del sitio -->
			<!-- <a href="/"><img src={logo.src} alt="Icono SVG"></a>  -->
            <!-- Menú de navegación -->
            <!-- <nav class="space-x-6 hidden lg:flex">
              <a href="/proyectos" class="hover:text-gray-400 transition duration-300">PROYECTOS</a>
              <a href="#contacto" class="hover:text-gray-400 transition duration-300">CONTACTO</a>
              <a href="#sobre-nosotros" class="hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
            </nav>
             -->
            <!-- Botón de menú para dispositivos móviles -->
            <!-- <button class="lg:hidden text-5xl" id="menu-toggle">☰</button>
          </div>
            
        </div>
       -->
          <!-- Menú móvil (oculto por defecto) -->
          <!-- <div id="mobile-menu" class="lg:hidden fixed inset-0 bg-black bg-opacity-50 z-40 hidden"> -->
          <!-- <div class="flex justify-end p-4">
            <button id="close-menu" class="text-white text-2xl">×</button>
          </div>
          <div class="flex flex-col items-center space-y-4 py-6">
            <a href="/proyectos" class="text-white hover:text-gray-400 transition duration-300">PROYECTOS</a>
            <a href="#contacto" class="text-white hover:text-gray-400 transition duration-300">CONTACTO</a>
            <a href="#sobre-nosotros" class="text-white hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
          </div>
        </div>
        </div> -->
	  <!-- Las imágenes del slider -->
	  <div class="relative w-full h-full aspect-video slider-childs">
		<!-- Video de fondo -->
		<figure class="absolute inset-0 w-full h-full transition-opacity duration-800 opacity-100" data-slide="slide-1">
		  <video class="absolute inset-0 w-full h-full object-cover" autoplay loop muted playsinline>
			<source src={diseno} type="video/mp4">
			Tu navegador no soporta la reproducción de videos.
		  </video>
	
		  <div class="absolute inset-0 flex justify-center items-center text-white text-left p-4 z-20  animate-fade-in ">
			<div class="text-center sm:text-left">
			  <!-- Título -->
			  <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4">
				Bienvenido a mi sitio web
			  </h1>
			  
			  <!-- Botones de acción -->
			  <div class="flex flex-col sm:flex-row sm:space-x-6 space-y-4 sm:space-y-0 justify-center sm:justify-start">
				<a  href="/proyectos"class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
				  PROYECTOS
				</a>
				<a class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
				  CONTACTANOS
				</a>
			  </div>
			  
			  <!-- Descripción -->
			  <p class="text-lg sm:text-xl mt-4">
				Explora el contenido y descubre más sobre nuestros servicios
			  </p>
			</div>
		  </div>
		</figure>
	
		<!-- Imagen 1 -->
		<div class="absolute inset-0 bg-black opacity-50 z-10"></div> <!-- Capa oscura con z-10 -->
	
		<!-- Imagen 2 -->
		<figure class="absolute inset-0 w-full h-full transition-opacity duration-100 opacity-0" data-slide="slide-2">
		  <img src={img1.src} alt="Imagen 1" class="w-full h-full block object-cover" />
		  <div class="absolute inset-0 w-[90%] mx-auto h-full flex items-center text-white mt-8 sm:mt-auto space-y-4 py-8 md:space-y-6 md:mb-40 z-20 md:ml-80 animate-fade-in ">
			<div class="text-center sm:text-left">
			  <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4 ">
				Imagen 1:
			  </h2>
			  <p class="text-lg sm:text-xl mb-4 sm:mb-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			  </p>       
			  <div class="flex flex-col sm:flex-row sm:space-x-6 space-y-4 sm:space-y-0 justify-center sm:justify-start">
				<a  href="/proyectos"class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
				  PROYECTOS
				</a>
				<a class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
				  CONTACTANOS
				</a>
			  </div>
			
			</div>
		  </div>
		  
		</figure>
	
		<!-- Imagen 3 -->
		<figure class="absolute inset-0 w-full h-full transition-opacity duration-100 opacity-0" data-slide="slide-3">
		  <img src={img2.src} alt="Imagen 2" class="w-full h-full block object-cover" />
		  <div class="absolute inset-0 w-[90%] mx-auto h-full flex items-center text-white mt-8 sm:mt-auto space-y-4 py-8 md:space-y-6 md:mb-40 z-20 md:ml-80">
			  <div class="text-center sm:text-left">
				  <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Imagen 2:</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <div class="flex flex-col sm:flex-row sm:space-x-6 space-y-4 sm:space-y-0 justify-center sm:justify-start">
					<a  href="/proyectos"class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
					  PROYECTOS
					</a>
					<a class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
					  CONTACTANOS
					</a>
				  </div>
				</div>
		  </div>
		</figure>
	
		<!-- Imagen 4 -->
		<figure class="absolute inset-0 w-full h-full transition-opacity duration-100 opacity-0" data-slide="slide-4">
		  <img src={img3.src} alt="Imagen 3" class="w-full h-full block object-cover" />
		  <div class="absolute inset-0 w-[90%] mx-auto h-full flex items-center text-white mt-8 sm:mt-auto space-y-4 py-8 md:space-y-6 md:mb-40 z-20 md:ml-80">
			  <div class="text-center sm:text-left">
				<h2 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Imagen 3:</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div class="flex flex-col sm:flex-row sm:space-x-6 space-y-4 sm:space-y-0 justify-center sm:justify-start">
					<a  href="/proyectos"class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
					  PROYECTOS
					</a>
					<a class="px-6 py-3 text-white border-2 border-white hover:bg-gray-400 transition duration-300 cursor-pointer">
					  CONTACTANOS
					</a>
				  </div>
			</div>
		  </div>
		</figure>
	  </div>
	
	  <!-- Botones de navegación -->
	  <div class="relative z-50">
		<!-- Botón "Prev" -->
		<button class="slider-prev absolute bottom-10 right-20 transform -translate-y-1/2 cursor-pointer" data-button="prev">
			<svg class="rotate-180 w-28" width="60" height="15" viewBox="0 0 60 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.8125 7.96895H56.1875H58V6.66895H56.1875H1.8125H0V7.96895H1.8125Z" fill="white"/>
				<path d="M58.5 7.5L52.5 13.5" stroke="white" stroke-linecap="square"/>
				<path d="M52.5 1.5L58.5 7.5" stroke="white" stroke-linecap="square"/>
			</svg>
		</button>
	
		<!-- Botón "Next" -->
		<button class="slider-next absolute bottom-10 right-4 transform -translate-y-1/2 cursor-pointer" data-button="next">
			<svg width="60" height="15" viewBox="0 0 60 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.8125 7.96895H56.1875H58V6.66895H56.1875H1.8125H0V7.96895H1.8125Z" fill="white"/>
				<path d="M58.5 7.5L52.5 13.5" stroke="white" stroke-linecap="square"/>
				<path d="M52.5 1.5L58.5 7.5" stroke="white" stroke-linecap="square"/>
			</svg>
		</button>
	  </div>
	  
	
	  
	
	  
	</section>

	
	
	
	
	
	<script>
		
	  document.addEventListener("DOMContentLoaded", () => {
		const slides = document.querySelectorAll("[data-slide]");
		let currentIndex = 0;
	
		// Función para mostrar la siguiente imagen
		const showNextSlide = () => {
		  slides[currentIndex].classList.remove("opacity-100");
		  slides[currentIndex].classList.add("opacity-0");
		  currentIndex = (currentIndex + 1) % slides.length;
		  slides[currentIndex].classList.remove("opacity-0");
		  slides[currentIndex].classList.add("opacity-100");
		};
	
		// Función para mostrar la imagen anterior
		const showPrevSlide = () => {
		  slides[currentIndex].classList.remove("opacity-100");
		  slides[currentIndex].classList.add("opacity-0");
		  currentIndex = (currentIndex - 1 + slides.length) % slides.length;
		  slides[currentIndex].classList.remove("opacity-0");
		  slides[currentIndex].classList.add("opacity-100");
		};
	
		
		// Event listeners para los botones de navegación
		const nextButton = document.querySelector(".slider-next");
		const prevButton = document.querySelector(".slider-prev");
	
		if (nextButton && prevButton) {
			nextButton.addEventListener("click", showNextSlide);
			prevButton.addEventListener("click", showPrevSlide);
		} else {
			console.warn("Los botones de navegación no se han encontrado en el DOM.");
		}
		setInterval(showNextSlide,5000)
	  });
	</script>
	
	
	
	
	
	
	
	
	
	
</Layout>
