---
import '../assets/styles/global.css';
import logo from '../assets/img/logoCumtual.svg';
import Layout from '../layouts/Layout.astro';
import { getCollection  } from 'astro:content';
const proyectos = await getCollection('proyectos');
//console.log(proyectos)
const pageTitle ="Proyectos"
---

<Layout pageTitle={pageTitle} >
    <section class="relative w-full overflow-hidden">

    


          <div class="relative mt-48  lg:text-center font-extrabold">
            <h1 class="text-center font-serif">PROYECTOS</h1>
            <div >
              <div class="ml-[-85px] mt-[100px] md:ml-[110px] lg:ml-[190px] flex flex-wrap ">
                  {proyectos.map(proyecto => {
                      const { data } = proyecto;
                      const { title, company, img, description, slug } = data;
          
                      return (
                          <div  class="mt-3 h-[300px] ml-[85px] group relative  overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg lg:ml-[10px] ">
                              <a href={`/proyecto/${slug}`}>
                                  <img class="w-full  lg:w-full h-full object-cover transition-all duration-300"  loading="lazy"  src={`/ImagenesConvertidas/${img}`} alt={title} />
                              </a>
          
                              <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
          
                              <div class="absolute top-[250px] left-[30px] justify-center right-0 w-[400px] h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
          
                              <span class="absolute bottom-20 right-[310px] mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10 cursor-pointer">
                                  {title}
                              </span>
          
                              <a href={`/proyecto/${slug}`}>
                                  <span class="absolute bottom-20 right-5 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10 cursor-pointer">
                                      Ver más
                                  </span>
                              </a>
                          </div>
                      );
                  })}
              </div>
          </div>        
          </div>               

    </section>


    <footer class="bg-[#191A1E] rounded-lg shadow m-4">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="https://cumtual.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <img src={logo.src} class="h-8" alt="Cumtual Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Cumtual</span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">Inicio</a>
            </li>
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">Proyectos</a>
            </li>
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">Sobre nosotros</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contacto</a>
            </li>
          </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto justify-center dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://cumtual.com/" class="hover:underline">Cumtual</a>. Todos los derechos reservados.</span>
      </div>
      </footer>
    

    <!-- <section class="slider-container">
        <div class="slider-images">
          <div class="slider-img">
            <img src={slider3.src} alt="1" />
            <h1 class="sliderH1">PROYECTO3</h1>
            <div class="details">
              <h2>PROYECTO3</h2>
              <p>web3 Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider1.src} alt="2" />
            <h1 class="sliderH1">PROYECTO1</h1>
            <div class="details">
              <h2>PROYECTO 1</h2>
              <p>wordpress Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider2.src} alt="3" />
            <h1 class="sliderH1">PROYECTO2</h1>
            <div class="details">
              <h2>PROYECTO 2</h2>
              <p>java Developer</p>
            </div>
          </div>
          <div class="slider-img active">
            <img src={slider3.src} alt="4" />
            <h1 class="sliderH1">PROYECTO3</h1>
            <div class="details">
              <h2>PROYECTO 3</h2>
              <p>Escaleras</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider1.src} alt="5" />
            <h1 class="sliderH1">PROYECTO1</h1>
            <div class="details">
              <h2>lauren</h2>
              <p>php Developer</p>
            </div>
          </div>
         
         
        </div>
      </section> -->

   

    <script>

      // Selecciona el navbar
      document.addEventListener('DOMContentLoaded', () => {
      const navbar = document.getElementById('navbar');
      const navbarLinks = document.querySelectorAll('nav a');
      
      // Función que se activa cuando el usuario hace scroll
      window.addEventListener('scroll', function() {
        if (window.scrollY > 0) {
          // Cuando hace scroll, cambia el fondo a negro
          navbar?.classList.remove('bg-transparent');
          navbar?.classList.add('bg-[#191A1E]');
          navbar?.classList.add('text-white');
            
        } else {
          // Si no hace scroll (está en la parte superior), el fondo es transparente
          navbar?.classList.remove('bg-black');  
          navbar?.classList.remove('text-white');
          navbar?.classList.add('bg-transparent');
          navbar?.classList.add('text-black');
          
        }
    
      });
    });
		// Obtener los elementos
		document.addEventListener('DOMContentLoaded', () => {
			// Obtener los elementos
			const menuToggle = document.getElementById('menu-toggle');
			const mobileMenu = document.getElementById('mobile-menu');
			const closeMenu = document.getElementById('close-menu');
	
			// Verifica si el elemento existe antes de agregar el evento
			if (menuToggle && mobileMenu && closeMenu) {
				// Mostrar el menú móvil cuando se hace clic en el botón
				menuToggle.addEventListener('click', () => {
					mobileMenu.classList.remove('hidden'); // Muestra el menú
				});
	
				// Cerrar el menú móvil cuando se hace clic en el botón de cerrar
				closeMenu.addEventListener('click', () => {
					mobileMenu.classList.add('hidden'); // Oculta el menú
				});
			}
		});

    document.addEventListener("DOMContentLoaded", function () {
      var sliderImages = document.querySelectorAll(".slider-img");

      sliderImages.forEach(function (image) {
        image.addEventListener("click", function () {
          sliderImages.forEach(function (img) {
            img.classList.remove("active");
          });
          image.classList.add("active");
        });
      });
    });
	  
	</script>

</Layout>