---
import '../assets/styles/global.css';
import logo from '../assets/img/logoCumtual.svg';
import Layout from '../layouts/Layout.astro';
import galeria1 from '../assets/img/galeria1.jpg';
import galeria2 from '../assets/img/galeria2.jpg';
import galeria3 from '../assets/img/galeria3.jpg';
import slider1 from '../assets/img/slider1.jpg';
import slider2 from '../assets/img/slider2.jpg';
import slider3 from '../assets/img/slider3.jpg';
const pageTitle ="Proyectos"
---

<Layout pageTitle={pageTitle} >
    <section class="relative w-full overflow-hidden">

      <div class="fixed top-0 left-0 w-full text-white z-50 ">
        <div class="max-w-7xl mx-auto px-4 py-3 border-b border-gray-400">
          <div class="flex items-center justify-between">
            <!-- Logo o título del sitio -->
            <img src={logo.src} alt="Icono SVG">      
            <!-- Menú de navegación -->
            <nav class="space-x-6 hidden lg:flex">
              <a href="/proyectos" class="hover:text-gray-400 transition duration-300">PROYECTOS</a>
              <a href="#contacto" class="hover:text-gray-400 transition duration-300">CONTACTO</a>
              <a href="#sobre-nosotros" class="hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
            </nav>
            
            <!-- Botón de menú para dispositivos móviles -->
            <button class="lg:hidden text-xl" id="menu-toggle">☰</button>
          </div>
            
        </div>
      
          <!-- Menú móvil (oculto por defecto) -->
          <div id="mobile-menu" class="lg:hidden fixed inset-0 bg-black bg-opacity-50 z-40 hidden">
          <div class="flex justify-end p-4">
            <button id="close-menu" class="text-white text-2xl">×</button>
          </div>
          <div class="flex flex-col items-center space-y-4 py-6">
            <a href="/proyectos" class="text-white hover:text-gray-400 transition duration-300">PROYECTOS</a>
            <a href="#contacto" class="text-white hover:text-gray-400 transition duration-300">CONTACTO</a>
            <a href="#sobre-nosotros" class="text-white hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
          </div>
        </div>
        </div>
       

          <div class="relative mt-48 text-center font-extrabold">
            <h1 class="font-serif">PROYECTOS</h1>
            <div class="p-5 md:p-10">
                <div class="colums-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-4 [&>img:not(:first-child)]:mt-5 lg:[&img:not(:first-child)]:mt-8">
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300" src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
                        <!-- Línea en el centro cuando se hace hover -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 "src={galeria2.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px]  bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria3.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-20 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute top-10 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
            
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria2.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria2.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria2.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="absolute top-72 left-16 justify-center right-0 w-72 h-[1px] bg-gray-400 opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-5"></div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>

                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300" src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    <div class="group relative rounded-[12px] overflow-hidden transition-all duration-300 transform hover:scale-95 hover:shadow-lg">
                        <img class="w-full h-full object-cover transition-all duration-300 " src={galeria1.src} alt="Imagen">
                        <!-- Capa negra sobre la imagen, inicialmente oculta -->
                        <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-40 transition-opacity duration-300"></div>
                        <!-- Texto "Ver más", inicialmente oculto -->
                        <div class="absolute top-64 left-16 justify-center right-0 w-72 h-[1px] bg-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform -translate-y-1/2"></div>
                        <!-- Texto "Ver más" en la parte inferior derecha, encima de la línea -->
                        <span class="absolute bottom-12 right-20 mb-2 mr-2 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-10">
                            Ver más
                        </span>
                    </div>
                    
                    <!-- Repite el patrón para las demás imágenes -->
                </div>
            </div>              
          </div>         
    </section>

    <section class="slider-container">
        <div class="slider-images">
          <div class="slider-img">
            <img src={slider3.src} alt="1" />
            <h1 class="sliderH1">PROYECTO3</h1>
            <div class="details">
              <h2>PROYECTO3</h2>
              <p>web3 Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider1.src} alt="2" />
            <h1 class="sliderH1">PROYECTO1</h1>
            <div class="details">
              <h2>PROYECTO 1</h2>
              <p>wordpress Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider2.src} alt="3" />
            <h1 class="sliderH1">PROYECTO2</h1>
            <div class="details">
              <h2>PROYECTO 2</h2>
              <p>java Developer</p>
            </div>
          </div>
          <div class="slider-img active">
            <img src={slider3.src} alt="4" />
            <h1 class="sliderH1">PROYECTO3</h1>
            <div class="details">
              <h2>PROYECTO 3</h2>
              <p>Escaleras</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider1.src} alt="5" />
            <h1 class="sliderH1">PROYECTO1</h1>
            <div class="details">
              <h2>lauren</h2>
              <p>php Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider2.src} alt="6" />
            <h1 class="sliderH1">PROYECTO2</h1>
            <div class="details">
              <h2>PROYECTO 2</h2>
              <p>seo Developer</p>
            </div>
          </div>
          <div class="slider-img">
            <img src={slider3.src} alt="7" />
            <h1 class="sliderH1">PROYECTO3</h1>
            <div class="details">
              <h2>PROYECTO 3</h2>
              <p>sql Developer</p>
            </div>
          </div>
        </div>
      </section>

   

    <script>
		// Obtener los elementos
		document.addEventListener('DOMContentLoaded', () => {
			// Obtener los elementos
			const menuToggle = document.getElementById('menu-toggle');
			const mobileMenu = document.getElementById('mobile-menu');
			const closeMenu = document.getElementById('close-menu');
	
			// Verifica si el elemento existe antes de agregar el evento
			if (menuToggle && mobileMenu && closeMenu) {
				// Mostrar el menú móvil cuando se hace clic en el botón
				menuToggle.addEventListener('click', () => {
					mobileMenu.classList.remove('hidden'); // Muestra el menú
				});
	
				// Cerrar el menú móvil cuando se hace clic en el botón de cerrar
				closeMenu.addEventListener('click', () => {
					mobileMenu.classList.add('hidden'); // Oculta el menú
				});
			}
		});

    document.addEventListener("DOMContentLoaded", function () {
      var sliderImages = document.querySelectorAll(".slider-img");

      sliderImages.forEach(function (image) {
        image.addEventListener("click", function () {
          sliderImages.forEach(function (img) {
            img.classList.remove("active");
          });
          image.classList.add("active");
        });
      });
    });
	  
	</script>

</Layout>